LightControl/build/classes/lightcontroller/LightController$2.class
LightControl/dist/web-files/dtjava.js
LightControl/build/classes/lightcontroller/LightController$1.class
LightControl/dist/LightController.html
LightControl/dist/web-files/dtjava.js
LightControl/dist/*
LightControl/build/*
LightControl/build/built-jar.properties
